body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    padding: 12px;
}

.slider-wrapper--text-slider .splide__slide{
    width: 60%;
}
.slider-wrapper--image-splide {
    width: 43rem;
    margin-bottom: 4px;
    transition: 8s all;
}

.slider-wrapper--text-slider {
    width: 40rem;
    padding: 12px;
}

.slider-wrapper--text-slider--container--heading h2 {
    font-size: 40px;
}

.slider-wrapper--text-slider--container--text-container {
    border: 1px solid #5C6E4A;
    padding: 11px;
    width: 80%;
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-wrapper--text-slider--container--text-container--testimonial-content--author-section {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.slider-wrapper--text-slider--container--text-container--testimonial-content--author-section--author-text-section--author-name {
    color: #5C6E4A;
}


.subscribe-wrapper {
    background-color: #EDFF84;
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    width: 100%;
}


.slider-wrapper--text-slider .splide__pagination .splide__pagination__page {
    background-color: #D0D0C9;
    width: 15px;
    height: 4px;
    border-radius: 2px;
    bottom: -1.5rem;
}

.slider-wrapper--text-slider .splide__pagination .splide__pagination__page.is-active {
    background-color: #5C6E4A;
    width: 15px;
    height: 4px;
    border-radius: 2px;
}

.email-input {
    appearance: none;
    border: 1px solid #5C6E4A;
    padding: 12px;
    border-radius: 24px;
}

.submit-input {
    background: #5C6E4A;
    padding: 12px;
    border-radius: 24px;
    border: none;
    color: white;
}

.contact-form {
    text-align: center;
}

.testimonial-section {
    margin: 10%;
    background-color: #FFFFF5;
    padding: 34px;
}

.slider-list {
    display: flex;
    gap: 34px;
}

.testimonial-slide {
    background-color: #F6FFC2;
    border: 1px solid #5C6E4A;
    padding: 34px;
}

@media screen and (max-width:749px) {
    .slider-wrapper {
        flex-direction: column;
    }
}

.not-loggedin-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.login-btn{
    border: none;
   text-decoration: none;
   padding: 13px;
    color: white;
    background-color: #5C6E4A;
    border-radius: 8px;
}